# Core dependencies
fastapi==0.109.2
uvicorn==0.27.1
pydantic==2.6.1
pydantic-settings==2.1.0

# For API requests and handling
requests==2.31.0
python-multipart==0.0.9

# For model handling
torch==2.3.1
transformers==4.43.1
accelerate==0.27.2
huggingface_hub

# Rate limiting
slowapi==0.1.9

# Production deployment
gunicorn==21.2.0
python-dotenv==1.0.0